<p>
  Please Select Below Links
</p>
<!-- <table align="center" border="1">
  <thead></thead>
  <tr><td><a routerLink="mother">Mother   </a></td></tr>
  <tr ><td><a routerLink="templateForm">Template Form</a></td></tr>
  <tr ><td><a routerLink="reactiveForm">Reactive Form</a></td></tr>
  <tr ><td><a routerLink="task">Task</a></td></tr>
  <tr ><td><a routerLink="pipe">Pipes</a></td></tr>
  <tr ><td><a routerLink="service1">Service1</a></td></tr>
  <tr ><td><a routerLink="remote">Remote Service</a></td></tr>
  <tr ><td><a routerLink="service3">Service3</a></td></tr>
  <tr ><td><a routerLink="eventBind">Event Binding</a></td></tr>
  <tr ><td><a routerLink="Bootstrap">Bootstrap</a></td></tr>
</table> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="mother">Mother</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="templateForm">Reactive Form</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="reactiveForm">Template Form</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="task">Mother</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" routerLink="pipe">Pipes</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" routerLink="service1">Service 1</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" routerLink="remote">Remote</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="service3">Service 3</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="eventBind">Event Bind</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="Bootstrap">Bootstrap</a>
            </li>
        
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
    

  
<router-outlet></router-outlet>
  