<p>
  Please Select Below Links
</p>
<table align="center" border="1">
  <thead></thead>
  <tr><td><a routerLink="mother">Mother   </a></td></tr>
  <tr ><td><a routerLink="templateForm">Template Form</a></td></tr>
  <tr ><td><a routerLink="reactiveForm">Reactive Form</a></td></tr>
  <tr ><td><a routerLink="task">Task</a></td></tr>
  <tr ><td><a routerLink="pipe">Pipes</a></td></tr>
  <tr ><td><a routerLink="service1">Service1</a></td></tr>
  <tr ><td><a routerLink="remote">Remote Service</a></td></tr>
  <tr ><td><a routerLink="service3">Service3</a></td></tr>
  
</table>
    

  
<router-outlet></router-outlet>
  